.home-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-page-home-page {
  width: 100%;
  height: 2732px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(241, 250, 255, 1);
}
.home-page-rectangle4 {
  top: 0px;
  flex: 1;
  right: 0px;
  width: 1699px;
  height: 135px;
  position: absolute;
}
.home-page-group2 {
  top: 43px;
  left: 273px;
  width: 625px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group1 {
  top: 0px;
  left: 0px;
  width: 625px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle6 {
  top: 3px;
  left: 3px;
  width: 622px;
  height: 55px;
  position: absolute;
  border-radius: 8px;
}
.home-page-rectangle5 {
  top: 0px;
  left: 0px;
  width: 622px;
  height: 55px;
  position: absolute;
  border-radius: 8px;
}
.home-page-vuesaxlinearsearchnormal {
  top: 16px;
  left: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxlinearsearchnormal1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-searchnormal {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.home-page-vector01 {
  top: 18.7197265625px;
  left: 18.82958984375px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.home-page-text {
  top: 3px;
  color: var(--dl-color-default-50);
  right: -204px;
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-rectangle51 {
  top: 34px;
  left: 81px;
  width: 65px;
  height: 65px;
  position: absolute;
  border-radius: 8px;
}
.home-page-leftpanel {
  top: 135px;
  left: 0px;
  width: 215px;
  height: 889px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: -3px 0px 50px 0px rgba(169, 222, 249, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-group7 {
  top: 40px;
  left: 42px;
  width: 131px;
  height: 136px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle7 {
  top: 0px;
  left: 16px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 16px;
}
.home-page-text02 {
  top: 112px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 19.399999618530273px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group15 {
  top: 256px;
  left: 24px;
  width: 156px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text04 {
  color: rgba(255, 90, 96, 1);
  height: auto;
  position: absolute;
  font-size: 19.399999618530273px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group9 {
  top: 48px;
  left: 0px;
  width: 96px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text06 {
  top: 6px;
  left: 44px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group8 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(169, 222, 249, 1);
}
.home-page-vuesaxbolduseroctagon {
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxbolduseroctagon1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-useroctagon {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector02 {
  top: 1.3333333730697632px;
  left: 1.9466552734375px;
  width: 12px;
  height: 13px;
  position: absolute;
}
.home-page-group10 {
  top: 104px;
  left: 0px;
  width: 139px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text08 {
  top: 6px;
  left: 44px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group81 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(169, 222, 249, 1);
}
.home-page-vuesaxboldpeople {
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxboldpeople1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-people {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector03 {
  top: 1.3333333730697632px;
  left: 9.693318367004395px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.home-page-vector04 {
  top: 6.671610355377197px;
  left: 11.066650390625px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.home-page-vector05 {
  top: 1.3333333730697632px;
  left: 2.4399821758270264px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.home-page-vector06 {
  top: 6.671478271484375px;
  left: 1.3299967050552368px;
  width: 3px;
  height: 4px;
  position: absolute;
}
.home-page-vector07 {
  top: 6px;
  left: 5.699991703033447px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.home-page-vector08 {
  top: 11.38499927520752px;
  left: 5.1583251953125px;
  width: 6px;
  height: 4px;
  position: absolute;
}
.home-page-group11 {
  top: 160px;
  left: 0px;
  width: 156px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text10 {
  top: 6px;
  left: 44px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group82 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(169, 222, 249, 1);
}
.home-page-vuesaxboldstatusup {
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxboldstatusup1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-statusup {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector09 {
  top: 1.3333333730697632px;
  left: 1.3333333730697632px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.home-page-group16 {
  top: 520px;
  left: 24px;
  width: 150px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text12 {
  color: rgba(255, 90, 96, 1);
  height: auto;
  position: absolute;
  font-size: 19.399999618530273px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group12 {
  top: 48px;
  left: 0px;
  width: 112px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text14 {
  top: 6px;
  left: 44px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group83 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(169, 222, 249, 1);
}
.home-page-vuesaxboldsetting2 {
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxboldsetting21 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-setting2 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector10 {
  top: 1.7073974609375px;
  left: 1.3333333730697632px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.home-page-group13 {
  top: 104px;
  left: 0px;
  width: 150px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text16 {
  top: 6px;
  left: 44px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group84 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(169, 222, 249, 1);
}
.home-page-vuesaxboldsecuritysafe {
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxboldsecuritysafe1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-securitysafe {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector11 {
  top: 1.3383382558822632px;
  left: 2.0600178241729736px;
  width: 12px;
  height: 13px;
  position: absolute;
}
.home-page-group14 {
  top: 160px;
  left: 0px;
  width: 105px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text18 {
  top: 6px;
  left: 44px;
  color: rgba(217, 4, 41, 1);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group85 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 4, 41, 1);
}
.home-page-vuesaxboldstatusup2 {
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxboldstatusup3 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-statusup1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector12 {
  top: 1.3333333730697632px;
  left: 1.3333333730697632px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.home-page-leftpanel1 {
  top: 175px;
  flex: 1;
  left: 1122px;
  width: 318px;
  height: 410px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: -3px 0px 50px 0px rgba(169, 222, 249, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-text20 {
  top: 24px;
  left: 24px;
  color: rgba(255, 90, 96, 1);
  height: auto;
  position: absolute;
  font-size: 19.399999618530273px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group18 {
  top: 80px;
  left: 24px;
  width: 288px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group25 {
  top: 0px;
  left: 0px;
  width: 288px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group17 {
  top: 5px;
  left: 78px;
  width: 210px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text22 {
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text24 {
  top: 24px;
  color: var(--dl-color-default-50);
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text26 {
  top: 44px;
  color: rgba(67, 97, 238, 1);
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-rectangle10 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.home-page-group171 {
  top: 174px;
  left: 24px;
  width: 288px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group24 {
  top: 0px;
  left: 0px;
  width: 288px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group23 {
  top: 5px;
  left: 78px;
  width: 210px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text28 {
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.6px;
  font-style: Medium;
  text-align: left;
  font-family: "Sora";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text32 {
  top: 24px;
  color: var(--dl-color-default-50);
  width: 210px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text34 {
  top: 44px;
  color: rgba(67, 97, 238, 1);
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-rectangle101 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.home-page-vector1 {
  top: 268px;
  left: 40px;
  width: 238px;
  height: 1px;
  position: absolute;
}
.home-page-group21 {
  top: 292px;
  left: 32px;
  width: 252px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-ellipse1 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.home-page-group20 {
  top: 1px;
  left: 52px;
  width: 200px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text36 {
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text38 {
  top: 22px;
  color: var(--dl-color-default-50);
  height: auto;
  position: absolute;
  font-size: 12.399999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group22 {
  top: 356px;
  left: 32px;
  width: 261px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-ellipse11 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.home-page-group201 {
  top: 1px;
  left: 52px;
  width: 209px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text40 {
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text42 {
  top: 22px;
  color: var(--dl-color-default-50);
  height: auto;
  position: absolute;
  font-size: 12.399999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-leftpanel2 {
  top: 617px;
  left: 1122px;
  width: 318px;
  height: 407px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: -3px 0px 50px 0px rgba(169, 222, 249, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-text44 {
  top: 24px;
  left: 24px;
  color: rgba(255, 90, 96, 1);
  height: auto;
  position: absolute;
  font-size: 19.399999618530273px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-rectangle11 {
  top: 72px;
  left: 24px;
  width: 270px;
  height: 201px;
  position: absolute;
}
.home-page-group26 {
  top: 289px;
  left: 24px;
  width: 270px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text46 {
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: SemiBold;
  text-align: left;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text48 {
  left: 135px;
  color: var(--dl-color-default-50);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text50 {
  top: 26px;
  color: var(--dl-color-default-50);
  width: 270px;
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group28 {
  top: 347px;
  left: 24px;
  width: 270px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text52 {
  top: 4px;
  left: 71px;
  color: rgba(67, 97, 238, 1);
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group27 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-ellipse2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-page-ellipse3 {
  top: 0px;
  left: 13px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-ellipse4 {
  top: 0px;
  left: 26px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-ellipse5 {
  top: 0px;
  left: 39px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-group32 {
  top: 40px;
  right: 139px;
  width: 435.9999694824219px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group6 {
  top: 1.000002384185791px;
  left: 232.99996948242188px;
  width: 203px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group3 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-vuesaxboldsetting22 {
  top: 11px;
  left: 12px;
  width: 31.999998092651367px;
  height: 31.999998092651367px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxboldsetting23 {
  top: 0px;
  left: 0px;
  width: 31.999998092651367px;
  height: 31.999998092651367px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-setting21 {
  top: 0px;
  left: 0px;
  width: 31.999998092651367px;
  height: 31.999998092651367px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector13 {
  top: 3.414794683456421px;
  left: 2.666747808456421px;
  width: 27px;
  height: 25px;
  position: absolute;
}
.home-page-group5 {
  top: 0px;
  left: 148px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-vuesaxboldnotification {
  top: 11px;
  left: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-notification {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector14 {
  top: 2.6666667461395264px;
  left: 5.747395992279053px;
  width: 21px;
  height: 23px;
  position: absolute;
}
.home-page-vector15 {
  top: 26.66666603088379px;
  left: 12.240071296691895px;
  width: 8px;
  height: 3px;
  position: absolute;
}
.home-page-group4 {
  top: 0px;
  left: 74px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-vuesaxboldlampcharge {
  top: 12px;
  left: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxboldlampcharge1 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-lampcharge {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector16 {
  top: 26.86665916442871px;
  left: 10.735514640808105px;
  width: 11px;
  height: 2px;
  position: absolute;
}
.home-page-vector17 {
  top: 2.6699016094207764px;
  left: 5.293294429779053px;
  width: 21px;
  height: 23px;
  position: absolute;
}
.home-page-group31 {
  top: 0px;
  left: 0px;
  width: 176px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group29 {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-rectangle8 {
  top: 3px;
  left: 3px;
  width: 55px;
  height: 55px;
  position: absolute;
  border-radius: 8px;
}
.home-page-rectangle71 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
  border-radius: 8px;
}
.home-page-group30 {
  top: 7px;
  left: 70px;
  width: 106px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text54 {
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: SemiBold;
  text-align: left;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text56 {
  top: 24px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 12.399999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group40 {
  top: 175px;
  left: 271px;
  width: 795px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-group39 {
  top: 24px;
  left: 24px;
  width: 747px;
  height: 152px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector11 {
  top: 51px;
  right: 0px;
  width: 747px;
  height: 1px;
  position: absolute;
}
.home-page-group36 {
  top: 0px;
  left: 0px;
  width: 747px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.home-page-group34 {
  width: 163px;
  height: 40px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-ellipse6 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.home-page-vuesaxboldgalleryadd {
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-vuesaxboldgalleryadd1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-galleryadd {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector18 {
  top: 0.8333333134651184px;
  left: 13.333333015441895px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.home-page-vector19 {
  top: 4.683335781097412px;
  left: 5.51666259765625px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.home-page-vector20 {
  top: 1.6666666269302368px;
  left: 1.6666666269302368px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.home-page-text58 {
  top: 10px;
  left: 52px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group38 {
  width: 747px;
  height: 79px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
  background-color: #EDECEC;
}
.home-page-text60 {
  color: var(--dl-color-default-50);
  height: auto;
  font-size: 12.5px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group48 {
  left: 268px;
  width: 795px;
  bottom: 41px;
  height: 731px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-page-container02 {
  flex: 0 0 auto;
  width: 651px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-page-text61 {
  margin-left: var(--dl-space-space-twounits);
}
.home-page-text63 {
  font-family: "Sora";
}
.home-page-text65 {
  font-size: 22px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-page-group47 {
  left: 0px;
  width: 795px;
  bottom: 0px;
  height: 574px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: flex-end;
  background-color: #edecec;
}
.home-page-group281 {
  left: 0px;
  width: 270px;
  bottom: 0px;
  height: 24px;
  display: flex;
  position: absolute;
  margin-top: auto;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-page-text68 {
  top: 5px;
  left: 70px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group271 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-ellipse21 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-page-ellipse31 {
  top: 0px;
  left: 13px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-ellipse41 {
  top: 0px;
  left: 26px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-ellipse51 {
  top: 0px;
  left: 39px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 599px;
  bottom: 0px;
  height: 327px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-page-container03 {
  left: 98px;
  width: 74px;
  bottom: 70px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.home-page-icon {
  top: 3px;
  left: 0px;
  width: 33px;
  height: 28px;
  position: absolute;
}
.home-page-icon02 {
  top: 0px;
  right: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.home-page-icon04 {
  top: 0px;
  left: 23px;
  width: 48px;
  bottom: 0px;
  height: 54px;
  margin: auto;
  position: absolute;
}
.home-page-icon06 {
  top: 0px;
  right: 20px;
  width: 48px;
  bottom: 0px;
  height: 54px;
  margin: auto;
  position: absolute;
}
.home-page-group44 {
  top: 0px;
  left: 0px;
  width: 644px;
  height: 70px;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-end;
  flex-shrink: 1;
  margin-left: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-page-group42 {
  top: 9px;
  left: 86px;
  width: 547px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group41 {
  top: 0px;
  left: 0px;
  width: 240px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text69 {
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 19.4px;
  font-style: Medium;
  text-align: left;
  font-family: "Sora";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text70 {
  top: 2px;
  color: var(--dl-color-default-50);
  right: -36px;
  height: auto;
  position: absolute;
  font-size: 15.6px;
  font-style: Regular;
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text71 {
  top: 32px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.6px;
  font-style: Regular;
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-rectangle102 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.home-page-group481 {
  top: 1178px;
  left: 268px;
  width: 795px;
  height: 731px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-page-container05 {
  flex: 0 0 auto;
  width: 651px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-page-text72 {
  margin-left: var(--dl-space-space-twounits);
}
.home-page-text74 {
  font-family: "Sora";
}
.home-page-text76 {
  font-size: 22px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-page-group471 {
  left: 0px;
  width: 795px;
  bottom: 0px;
  height: 574px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: flex-end;
  background-color: #edecec;
}
.home-page-group282 {
  left: 0px;
  width: 270px;
  bottom: 0px;
  height: 24px;
  display: flex;
  position: absolute;
  margin-top: auto;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-page-text79 {
  top: 5px;
  left: 70px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group272 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-ellipse22 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-page-ellipse32 {
  top: 0px;
  left: 13px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-ellipse42 {
  top: 0px;
  left: 26px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-ellipse52 {
  top: 0px;
  left: 39px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-image1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 599px;
  bottom: 0px;
  height: 327px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-page-container06 {
  left: 98px;
  width: 74px;
  bottom: 70px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.home-page-icon08 {
  top: 3px;
  left: 0px;
  width: 33px;
  height: 28px;
  position: absolute;
}
.home-page-icon10 {
  top: 0px;
  right: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.home-page-icon12 {
  top: 0px;
  left: 23px;
  width: 48px;
  bottom: 0px;
  height: 54px;
  margin: auto;
  position: absolute;
}
.home-page-icon14 {
  top: 0px;
  right: 20px;
  width: 48px;
  bottom: 0px;
  height: 54px;
  margin: auto;
  position: absolute;
}
.home-page-group441 {
  top: 0px;
  left: 0px;
  width: 644px;
  height: 70px;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: var(--dl-space-space-threeunits);
}
.home-page-rectangle103 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.home-page-group421 {
  top: 9px;
  left: 86px;
  width: 468px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group411 {
  top: 0px;
  left: 0px;
  width: 240px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text80 {
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 19.399999618530273px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text82 {
  top: 2px;
  left: 112px;
  color: var(--dl-color-default-50);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text84 {
  top: 32px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.6px;
  font-style: Regular;
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group482 {
  top: 407px;
  left: 272px;
  width: 795px;
  height: 722px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-page-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-page-text85 {
  margin-left: var(--dl-space-space-twounits);
}
.home-page-text87 {
  font-family: "Sora";
}
.home-page-text89 {
  font-size: 22px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.home-page-group472 {
  left: 0px;
  width: 795px;
  bottom: 0px;
  height: 574px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: flex-end;
  flex-shrink: 1;
  justify-content: flex-start;
  background-color: #edecec;
}
.home-page-group283 {
  left: 0px;
  width: 270px;
  bottom: 0px;
  height: 24px;
  display: flex;
  position: absolute;
  margin-top: auto;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-page-text90 {
  top: 5px;
  left: 70px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-group273 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-ellipse23 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-page-ellipse33 {
  top: 0px;
  left: 13px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-ellipse43 {
  top: 0px;
  left: 26px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-ellipse53 {
  top: 0px;
  left: 39px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
}
.home-page-image2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 599px;
  bottom: 0px;
  height: 327px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-page-group43 {
  top: 0px;
  left: 0px;
  width: 585px;
  height: 70px;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: var(--dl-space-space-threeunits);
}
.home-page-rectangle104 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.home-page-group422 {
  top: 9px;
  left: 86px;
  width: 474px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-group412 {
  top: 0px;
  left: 0px;
  width: 271px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text91 {
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 19.399999618530273px;
  font-style: Medium;
  text-align: left;
  font-family: Sora;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text93 {
  top: 2px;
  left: 116px;
  color: var(--dl-color-default-50);
  height: auto;
  position: absolute;
  font-size: 15.600000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text95 {
  top: 32px;
  color: var(--dl-color-default-100);
  height: auto;
  position: absolute;
  font-size: 15.6px;
  font-style: Regular;
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-container09 {
  left: 98px;
  width: 74px;
  bottom: 70px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.home-page-icon16 {
  top: 3px;
  left: 0px;
  width: 33px;
  height: 28px;
  position: absolute;
}
.home-page-icon18 {
  top: 0px;
  right: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.home-page-icon20 {
  top: 0px;
  left: 23px;
  width: 48px;
  bottom: 0px;
  height: 54px;
  margin: auto;
  position: absolute;
}
.home-page-icon22 {
  top: 0px;
  right: 20px;
  width: 48px;
  bottom: 0px;
  height: 54px;
  margin: auto;
  position: absolute;
}
.home-page-footer {
  width: 1489px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-page-text96 {
  align-self: center;
  text-align: center;
}
.home-page-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-page-icon24 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-page-icon26 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-page-icon28 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .home-page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-page-text96 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-page-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-page-text96 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
